<img src="{{ absolute_url(asset('images/A4MLogo.svg')) }}">
<h1>You have received a new project suggestion</h1>
<hr />
Name: {{ suggestion.fullName }}<br />
Email: {{ suggestion.email }}<br />
Telephone: {{ suggestion.phone }}<br />
Project Suggestion: {{ suggestion.suggestion }}
