{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/css/form.css') }}" />
{% endblock %}

{% block body %}
  {% include '_hero.html.twig' with {
  header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      Register with Action 4 Malawi
    {% endblock %}
    {% block text %}
      <p>If you live in North America or Europe, would you like to travel to Malawi, the warm heart of Africa? Would you like to experience life off the grid ? If you are in Malawi, would you like to be part of the sharing conversation? Please get in touch.</p>
      {{ form_start(form, {attr: {class: 'form-container', novalidate: 'true'}}) }}
        {{ form_widget(form) }}
        <div class="form-group mt-4 mb-0">
          <button class="btn btn-primary btn-lg-rounded" type="submit">Register Now</button>
        </div>
      {{ form_end(form) }}
    {% endblock %}
  {% endembed %}
{% endblock %}
