{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/css/form.css') }}" />
{% endblock %}

{% block body %}
  {% include '_hero.html.twig' with {
    header: 'Be part of the change!'
  } %}
  {% embed '_generalText.html.twig' %}
    {% block header %}
      Suggest a project for Action 4 Malawi
    {% endblock %}
    {% block text %}
      {{ page_content('suggest') }}
      {{ form_start(form, {attr: {class: 'form-container', novalidate: 'true'}}) }}
      {{ form_row(form.fullName) }}
      {{ form_row(form.email) }}
      {{ form_row(form.phone) }}
      <div class="form-row">
        {{ form_widget(form.suggestion) }}
        <small class="form-text text-muted w-100 text-right font-italic">max 1000 characters</small>
      </div>
      <div class="form-group mt-4 mb-0">
        <button class="btn btn-primary btn-lg-rounded" type="submit">Suggest Project</button>
      </div>
      {{ form_end(form) }}
    {% endblock %}
  {% endembed %}
{% endblock %}
